# Node
node_modules/
node_modules*/
dist/
.env
.env.local

# Java / Maven
target/
*.class
*.jar
*.war
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# Data files
file_data/*.docx
